html, body {
  background: url("../img/img5.png") center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}
#img5{
	max-width: 100%;
	position:absolute;
 	top:0%;
 	left:0%;
}

#table{
	position:absolute;
	top:15%;
	left:15%;
	max-height:100%;
	max-width:100%;
	opacity:0.9;
	background: #a6ff8a;
	padding-bottom: 2%;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 1%;
	border-color: #ed2553;





    -moz-box-shadow: 9px 8px 5px #ed2553;
    -webkit-box-shadow: 9px 8px 5px #ed2553;
    box-shadow: 9px 8px 5px #ed2553;
    background: white;

}

h1{
	font: 200% 'Lucida Sans', 'trebuchet MS', Arial, Helvetica; text-align: center;
	color:#ed2553;
}

body{
	font: 100% 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
}

.back {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.back:hover {
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.back:active {
  position:relative;
  top:1px;
}
